<h1>Editing team</h1>

<%= error_messages_for :team %>

<% form_for(@team) do |f| %>
  <p>
		<%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
		<%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
