<div id="Main">
  <div class="inner">
	<h2>New team</h2>

	<%= error_messages_for :team %>

<% form_for(@team) do |f| %>
  
<table width="100%">
  <tr>
    <td width="49%">
      
            <p>
                  <%= f.label :title %>
                  <%= f.text_field :title %>
            </p>
            <p>
                  <%= f.label :description %>
                  <%= f.text_area :description, :cols => 30, :rows => 10 %>
            </p>
            <p>
                  <%= f.submit "Create" %> | <%= link_to 'Back', project_path(@project) %>
            </p>
          
    </td>
  </tr>
</table>

<% end %>
	
  </div>
</div>