<fieldset id="login">
  <legend>Sign In to Team Portal</legend>

  <% form_tag session_path do %>
    <table>
        <tr>
          <th>Login</th>
          <td><%= text_field_tag :login %></td>
        </tr>

        <tr>
          <th>Password</th>
          <td><%= password_field_tag :password %>
        </tr>

        <tr>
            <th></th>
            <td>
                <%= check_box_tag :remember_me %> Remember Me
            </td>
        </tr>

        <tr>
            <th></th>
            <td><%= submit_tag "Log In" %> | <%= link_to "Forgot your password?", forgot_password_path %></td>
        </tr>
    </table>

  <% end %>
</fieldset>