<div id="Main">
    <div class="inner">
		<% form_tag admin_accounts_path do %>
		<p>
			<label for="old_password">Old Password</label>
			<%= password_field_tag 'old_password', @old_password, :size => 45 %>
		</p>
		
		<p>
			<label for="new_password">New Password</label>
			<%= password_field_tag 'new_password', {}, :size => 45 %>
		</p>
		
		<p>
			<label for="new_password_confirmation">Password Confirmation</label>
			<%= password_field_tag 'new_password_confirmation', {}, :size => 45 %>
		</p>
		
		<%= submit_tag 'Change Password' %> | <%= link_to "Cancel", home_path %>
		
		<% end %>
    </div>
</div>