<h1>Listing comments</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>User</th>
    <th>Title</th>
    <th>Text</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.parent_id %></td>
    <td><%=h comment.user_id %></td>
    <td><%=h comment.title %></td>
    <td><%=h comment.text %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %>
