<tr>
	<td valign="top"><%=h property.name %></td>
	<td valign="top"><%=h property.description %></td>
	<td valign="top">
    <%  default = property.default_option
        property.options.sort_by{ |opt| opt.sequence }.each do |o| %>
        <span style="<%= default != o.id ? '' : 'font-weight: bold;' %>"><%= o %></span>
    <% end %>
  </td>
	<td valign="top"><%= link_to 'Edit Options', property_options_path(property) %></td>
	<td valign="top"><%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>