.Content
  .Title= content.title
  - if !content.published?
    .SubTitle
      %strong= link_to "Edit Draft", edit_page_path(content.owner)

  .SubTitle
    == This page has #{content.owner.comments.count} comments.
  = render :partial => "tags/applicator", :object => @page.content
  .Text= content.text