<% content_for :javascript do %>
	<%= javascript_include_tag 'tag_applicator' %>
<% end %>

<div id="tags-container" name="tags-container">
	<div id="tag-list-panel">
		<%= render :partial => "tags/tag_list_panel", :object => applicator %>
	</div>
	
	<div id="tag-editor-inputs" style="display: none;">
		<div id="tag_list-removeable-tag-list-panel">
			<%= render :partial => 'tags/edit_tag_panel', :collection => applicator.taggings %>
		</div>
		<div id="tag-editor-actions">
			<div class="notes">(separate multiple tags with commas)</div>
			<div>
				<% remote_form_for(:tags, applicator, :url => url, :success => '$("tags_tag_list").clear()') do |f| %>
					<%= f.hidden_field :taggable_type, :value => applicator.class %>
					<%= f.text_field :tag_list, :value => "", :class => "input-type-text" %>
					<input type="submit" value="Add Tags" />
					<input type="button" onclick="TagApplicator.editTags();" value="Close" />
				<% end %>
			</div>
		</div>
	</div>
</div>