#flash.notice{ :style => "display: none;" }= flash[:notice]

- current_type = ""
- @content.each do |key, value|
  %h1= key
  %ul.Posts
    - value.each do |item|
      %li
        =  link_to item.taggable.title, polymorphic_path(item.taggable)
        by 
        = link_to item.taggable.user, user_path(item.taggable.user)
        on
        = item.taggable.created_at.strftime("%B %d, %Y %I:%m %p")