<div id="Main">
  <div class="inner">
    <div class="create-card-panel" style="">
        <% remote_form_for :card, Card.new, :url => project_cards_path(@project) do |f| %>
          	<%= f.text_field :title, :style => "width: 66%; padding: .3em 0em;" %>
          	<%= f.submit "Add", :style => "width: 8%;" %> |
			<%= link_to "Add with detail ...", new_project_card_path(@project) %>
        <% end %>
    </div>


    <div id="lane-header" class="actions">
      <% form_tag project_cards_path(@project), :method => :get do %>
        <p>Group By: <%= if !@project.nil? then collection_select(:group_by, :property_id, @project.properties, :id, :name, {:prompt => true}, { :onChange => "this.form.submit();" } ) end %></p>
      <% end %>
    </div>

    <table width="100%" class="swimming-pool">
      <tr>
        <% @lanes.each do |option, *cards| %>
          <td id="lane-<%= @property.id %>-<%= option.id %>" class="lane-wrapper" style="position: relative;">
            <div class="lane">
              <span class="group"><%= option.name %></span>
              <div id="cards-container-<%= option.id %>" class="cards-container" style="padding-left: 14px;">
                <% cards.each do |card|%>
					<%= render :partial => "cards/card_icon", :locals => { :card => card } %>
                <% end %>
              </div>
            </div>

            <%= drop_receiving_element "lane-#{@property.id}-#{option.id}", 
                    :accept => "card-icon",
                    :onDrop => "SwimmingPool.afterCardDrop",
                    :hoverclass => "lane-highlighted" %>
          </td>
        <% end %>
      </tr>
    </table>
    
  </div>  
</div>