<div id="Main">
	<div class="inner">
		<h1>Editing team_user</h1>

<%= error_messages_for :team_user %>

<% form_for(@member) do |f| %>
  <p>
		<%= f.label :team %><br />
    <%= f.text_field :team %>
  </p>
  <p>
		<%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @member %> |
<%= link_to 'Back', team_users_path %>
	</div>
</div>